<div class="d-flex justify-content-around align-items-center sc-header">
  <img class="sc-logo sc-cursor-pointer" src="assets/images/example-logo.png"/>
  <div class="sc-nav-menu">
    <h1>
      <a [routerLink]="['/home']">
        Home
      </a>
      <div class="sc-line"></div>
    </h1>
    <h1>
      <a [routerLink]="['/projects']">
        Projetos
      </a>
      <div class="sc-line"></div>
    </h1>
    <h1>
      Equipe
      <div class="sc-line"></div>
    </h1>
    <h1>
      Contato
      <div class="sc-line"></div>
    </h1>
  </div>
  <!-- <fa-icon [icon]="faUserCircle" size="2x" class="sc-cursor-pointer"></fa-icon> -->
  <fa-icon [icon]="faSignInAlt" size="2x" class="sc-cursor-pointer" (click)='open()'></fa-icon>
</div>
