<div class="d-flex justify-content-around align-items-center sc-header">
  <img class="sc-logo" src="assets/images/example-logo.png"/>
  <div class="sc-nav-menu">
    <h1>
      Home
      <div class="sc-line"></div>
    </h1>
    <h1>
      Projetos
      <div class="sc-line"></div>
    </h1>
    <h1>
      Equipe
      <div class="sc-line"></div>
    </h1>
    <h1>
      Contato
      <div class="sc-line"></div>
    </h1>
  </div>
  <fa-icon [icon]="faUserCircle" size="2x" class="sc-user"></fa-icon>
</div>
