<div class="modal-header">
  <h4 class="modal-title">Sign In</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form #form="ngForm" class="modal-body" [formGroup]="signInForm">
  <div class="mb-3">
    <label for="email" class="form-label">E-mail</label>
    <input
      #emailInput
      id="email"
      type="email"
      formControlName="email"
      class="form-control"
      [class.is-invalid]="signInForm.get('email')?.errors && (form.submitted || signInForm.get('email')?.touched)"
      [class.is-valid]="signInForm.get('email')?.valid">

    <sc-vmessage
      *ngIf="signInForm.get('email')?.errors?.required && (form.submitted || signInForm.get('email')?.touched)"
      text="E-mail is required"></sc-vmessage>
    <sc-vmessage
      *ngIf="signInForm.get('email')?.errors?.email && (form.submitted || signInForm.get('email')?.touched)"
      text="E-mail is invalid"></sc-vmessage>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      formControlName="password"
      class="form-control"
      [class.is-invalid]="signInForm.get('password')?.errors && (form.submitted || signInForm.get('password')?.touched)"
      [class.is-valid]="signInForm.get('password')?.valid">

    <sc-vmessage
      *ngIf="signInForm.get('password')?.errors?.required && (form.submitted || signInForm.get('password')?.touched)"
      text="Password is required"
    ></sc-vmessage>
    <sc-vmessage
      *ngIf="signInForm.get('password')?.errors?.minlength && (form.submitted || signInForm.get('password')?.touched)"
      text="Password minimum length is 6"
    ></sc-vmessage>
    <sc-vmessage
      *ngIf="signInForm.get('password')?.errors?.maxlength && (form.submitted || signInForm.get('password')?.touched)"
      text="Password maximum length is 20"
    ></sc-vmessage>
  </div>
  <div class="d-grid gap-1 col-4 mx-auto">
    <button type="submit"
      class="btn btn-primary btn-lg"
      [disabled]="signInForm.invalid || signInForm.pending"
    >Sign In</button>
  </div>
</form>
